# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distributions and packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# My custom files
commit_message.txt
.pytest_cache/